<!-- FOOTER -->

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h5>PRODUSI</h5>

            <p>Profil Digital Desa Informatif</p>
          </div>

          <div class="col-md-4">
            <h5>Alamat</h5>

            <p>
              Desa Bumiharjo<br />

              Kecamatan Kemalang<br />

              Kabupaten Klaten
            </p>
          </div>

          <div class="col-md-4">
            <h5>Kontak</h5>

            <p>08xxxxxxxxxx</p>
          </div>
        </div>

        <hr />

        <div class="text-center">© 2026 PRODUSI</div>
      </div>
    </footer>